
/*******************BANNER*******************/

.banner-font {
    font-size: x-small
}

.banner-container {
    position: relative;
    text-align: center;
    color: white;
}

.banner-top-left {
    position: absolute;
    top: 6px;
    left: 150px;
}

.banner-top-right {
    position: absolute;
    top: 6px;
    right: 150px;
}

.banner-bottom-left {
    position: absolute;
    bottom: 0px;
    left: 150px;
}

.banner {
    width: 100%;
}

/*******************SEARCH*******************/

.search-input {
    height: 25px;
    font-size: 15px;
    line-height:25px;
    padding:3px;
}