@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="card" style="100%">
    <div class="card-header">
        مدیریت مطالب
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">مدیریت مطالب</li>
        <li class="list-group-item">مدیریت اسلاید ها</li>
        <li class="list-group-item">مدیریت پوستر ها</li>
        <li class="list-group-item">مدیریت مطالب منو ها</li>
        <li class="list-group-item">مدیریت مالتی‌مدیا</li>
    </ul>
</div>


