<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BMSWebApp</title>
    <link href="~/admin/lib/Bootstrap4RTL/dist/css/bootstrap-rtl.css" rel="stylesheet" />
    <link href="~/admin/lib/fa/css/all.css" rel="stylesheet" />
    <link href="~/admin/lib/bootstrap4-toggle/bootstrap4-toggle.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/admin/css/site.css" />

    <style>
        @@font-face {
            font-family: Yekan;
            src: url(font/Yekan.woff2);
        }
    </style>
</head>
<body dir="rtl" style="font-family: Yekan;">
    <header>
        <nav class="navbar navbar-expand-sm box-shadow mb-3" style="background-color: rgba(0,0,0,0.5)">
            <div class="container">
                <div class="d-sm-inline-flex justify-content-between">
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/admin/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/admin/lib/Bootstrap4RTL/dist/js/bootstrap.js"></script>
    <script src="~/admin/lib/fa/js/all.js"></script>
    <script src="~/admin/lib/bootstrap4-toggle/bootstrap4-toggle.min.js"></script>
    <script src="~/admin/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
