


<!DOCTYPE html>
<html>
<head id="Head1">
    <script src="/Js/jquery.min.js" type="text/javascript"></script>
    <script src="/Js/jquery-migrate.min.js" type="text/javascript"></script>

    <link href="/Style/calendar.css" rel="stylesheet" type="text/css" />
    <link href="/Style/style.css" rel="stylesheet" type="text/css" />
    <link href="/Style/floatinglikebox.css" rel="stylesheet" type="text/css" />

    <title>
        صفحه اصلی - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی
    </title>
    <link href="/bundles/css.css" rel="stylesheet" />
    <meta name="copyright" content="قطب فن آوری اطلاعات شمس - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="description" content="اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="keywords" />
    <link rel="canonical" href="http://www.eatvto.ir" />
    <meta name="og:type" content="website" />
    <meta name="og:title" content="صفحه اصلی - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="og:description" content="اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="og:url" content="http://www.eatvto.ir" />
    <meta name="og:image" content="http://www.eatvto.ir/uploads/preview.jpg" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="صفحه اصلی - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="twitter:description" content="اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="twitter:image" content="http://www.eatvto.ir/uploads/preview.jpg" />
    <meta name="twitter:image:alt" content="صفحه اصلی - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/" />
    <meta name="DC.title" content="صفحه اصلی - اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="DC.identifier" content="http://www.eatvto.ir" />
    <meta name="DC.description" content="اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="DC.language" scheme="ISO639-1" content="fa" />
    <meta name="DC.creator" content="مدیر فنی سایت-فضلی" />
    <meta name="DC.publisher" content="اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Image" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Sound" />
    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Text" />
    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
    <meta name="DCTERMS.created" scheme="ISO8601" content="2008-04-22" />
</head>
<body class="body">
    <script src="/bundles/common.JS"></script>


    <link href="/theme/1/Default/Style/Global.css" rel="stylesheet" type="text/css" />
    <link href="/theme/1/Default/Style/fonts.css" rel="stylesheet" type="text/css" />
    <link href="/theme/1/Default/menu/menu.css" rel="stylesheet" type="text/css" />


    <script type='text/javascript' src="/Js/jquery.dcmegamenu.1.3.3.js"></script>
    <script type='text/javascript' src="/Js/jquery.hoverIntent.minified.js"></script>


    <script src="/theme/1/Default/menu/jquery.smartmenus.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/theme/1/Default/Style/skin.css" />
    <link rel="stylesheet" type="text/css" href="/theme/1/Default/Style/skin1.css" />

    <script pin type="text/javascript">
        function hide_error() {
            var x;
            x = document.getElementById('Error_Container');
            x.style.display = 'none';
        }
    </script>

    <div style="width:1000px;margin:0 auto">

        <div style="width: 1000px; margin: 0 auto; height:201px;">
            <div class="Header_BG">

                <div class="Header_Date">
                    دوشنبه 24 آبان 1400
                    <span>-</span>
                    09 ربيع الثاني 1443
                </div>
                <div style="float:left;width:500px;">

                    <div style="float: left; margin: 7px 5px 0 28px">
                        <a class="Home_Icon" href="/?pageid=0" title="صفحه اصلی"></a><a class="SiteMap_Icon"
                                                                                        href="/?mid=73" title="نقشه سایت"></a><a class="Email_Icon" href="mailto:info@eatvto.ir"
                                                                                                                                 title="پست الکترونیکی"></a>
                    </div>

                    <div style="float: left; color: #fff; margin: 3px 0 0 10px">
                        <a class="Header_Link" title="وب سایت فارسی" href="http://eatvto.ir">فارسی</a> |
                        <a class="Header_Link" title="وب سایت انگلیسی" href="http://en.eatvto.ir">English</a>
                    </div>
                    <div class="Header_Login">
                        <a id="ctl28_Header1_Header_Login1_btnLogin" href="javascript:__doPostBack(&#39;ctl28$Header1$Header_Login1$btnLogin&#39;,&#39;&#39;)">ورود به سایت </a>
                        &nbsp;|&nbsp;<span id="ctl28_Header1_Header_Login1_lblusername">مهمان</span> | <a href="/?mid=4" target="blank">عضویت</a>
                    </div>
                </div>
            </div>
            <div class="Menu_BG">
                <div style="padding-right: 10px">
                    <ul id="main-menu" class="sm sm-blue">
                        <li id="Firstli" class="separate"><a class="Menu_ItemH" target="_parent" href="/?PageID=0" title="صفحه اصلی"><span class="icon0"></span><span>صفحه اصلی</span></a></li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/?PageID=2" title="اداره کل آموزش فنی و حرفه ای"><span class=""></span>اداره کل آموزش فنی و حرفه ای</a>
                            <ul>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=244" title="مراکز آموزشی(مدیران.مشخصات)">مراکز آموزشی(مدیران.مشخصات)</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=176" title="ارزیابی عملکرد و پاسخ به شکایات">ارزیابی عملکرد و پاسخ به شکایات</a></li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=169" title="روابط عمومی وامور فرهنگی">روابط عمومی وامور فرهنگی</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=170" title="برگزاری مراسم">برگزاری مراسم</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/page/282/ستاداقامه-نماز-.html" title="ستاداقامه نماز ">ستاداقامه نماز </a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=172" title="بازدیدهای همگانی سازمان">بازدیدهای همگانی سازمان</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=173" title="کاروان،تور،اردوی زیارتی">کاروان،تور،اردوی زیارتی</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=174" title="تشکیل شورا و انجمن">تشکیل شورا و انجمن</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=175" title="برنامه های فرهنگی">برنامه های فرهنگی</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=3" title="معرفی سازمان">معرفی سازمان</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=6" title="منشور اخلاقی سازمان">منشور اخلاقی سازمان</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=4" title="معرفی اداره کل">معرفی اداره کل</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=5" title="پیام مدیر کل">پیام مدیر کل</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=7" title="مسؤولان ارشد اداره کل">مسؤولان ارشد اداره کل</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/?PageID=8" title="معاونت آموزش، پژوهش و برنامه ریزی"><span class=""></span>معاونت آموزش، پژوهش و برنامه ریزی</a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=139" title="مسابقات ملی مهارت">مسابقات ملی مهارت</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://eatvto.ir/?PageID=139" title="مسابقات ملی مهارت">مسابقات ملی مهارت</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=http://www.portal.eatvto.ir/?PageID=197" title="افتخارآفريني و نخبگان">افتخارآفريني و نخبگان</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=141" title="عملکرد و افتخارات استان">عملکرد و افتخارات استان</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=140" title="آشنایی با مسابقات">آشنایی با مسابقات</a>
                                            <ul>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=146" title="جهانی">جهانی</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=148" title="معرفی سازمان جهانی مهارت">معرفی سازمان جهانی مهارت</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=149" title="معرفی مسابقات جهانی مهارت">معرفی مسابقات جهانی مهارت</a></li>
                                                        <li class="submenu-main">
                                                            <a class="submenu-item" href="#تاریخچه مسابقات جهانی" title="تاریخچه مسابقات جهانی">تاریخچه مسابقات جهانی</a>
                                                            <ul>
                                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=150" title="پیش از انقلاب">پیش از انقلاب</a></li>
                                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=151" title="پس از انقلاب">پس از انقلاب</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=147" title="کشوری">کشوری</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=152" title="پیشینه مسابقات در کشور">پیشینه مسابقات در کشور</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=153" title="هدف از برگزاری مسابقات">هدف از برگزاری مسابقات</a></li>
                                                        <li class="submenu-main">
                                                            <a class="submenu-item" href="#تاریخچه مسابقات کشوری" title="تاریخچه مسابقات کشوری">تاریخچه مسابقات کشوری</a>
                                                            <ul>
                                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=154" title="پیش از انقلاب">پیش از انقلاب</a></li>
                                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=155" title="پس از انقلاب">پس از انقلاب</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=142" title="خبرها و اطلاعیه ها">خبرها و اطلاعیه ها</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=143" title="تسهیلات مدال آوران مسابقات">تسهیلات مدال آوران مسابقات</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=144" title="فرمها و دستورالعملها">فرمها و دستورالعملها</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=145" title="نتیجه مسابقات">نتیجه مسابقات</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=156" title="مرحله شهرستانی">مرحله شهرستانی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=157" title="مرحله استانی">مرحله استانی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=158" title="مرحله کشوری">مرحله کشوری</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=8" title="مشاوره و هدایت آموزشی">مشاوره و هدایت آموزشی</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=243" title="مراکز کاریابی آذربایجان شرقی ">مراکز کاریابی آذربایجان شرقی </a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://consult.irantvto.ir/index.aspx?siteid=94&siteid=94&pageid=1650" title="راهنمای دوره های آموزشی ">راهنمای دوره های آموزشی </a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=246" title="فهرست کارخانه های فعال استان ">فهرست کارخانه های فعال استان </a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=247" title="پرسش و پاسخ ">پرسش و پاسخ </a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=249" title="اداره موسسات کارآموزی آزاد">اداره موسسات کارآموزی آزاد</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=249" title=" رسالت موسسات کارآموزی آزاد"> رسالت موسسات کارآموزی آزاد</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#آئین نامه ها و دستورالعمل ها" title="آئین نامه ها و دستورالعمل ها">آئین نامه ها و دستورالعمل ها</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=251" title="برون سازمانی">برون سازمانی</a></li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=252" title="سازمانی">سازمانی</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=253" title="اصلاحات ضوابط اجرایی">اصلاحات ضوابط اجرایی</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=254" title="اطلاعات آموزشگاههای آزاد استان">اطلاعات آموزشگاههای آزاد استان</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=123" title="فرم های خام مورد نیاز">فرم های خام مورد نیاز</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=256" title="شهریه های آموزشگاه های آزاد ">شهریه های آموزشگاه های آزاد </a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=257" title=" بازرسی آموزشگاههای آزاد"> بازرسی آموزشگاههای آزاد</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=258" title="رسیدگی به شکایات مربوط به آموزشگاه های آزاد">رسیدگی به شکایات مربوط به آموزشگاه های آزاد</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=216" title="آراء هیات نظارت">آراء هیات نظارت</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=260" title="آمار عملکرد آموزشی آموزشگاه ها">آمار عملکرد آموزشی آموزشگاه ها</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=261" title="راهنمای پورتال">راهنمای پورتال</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=262" title=" نکات قابل توجه"> نکات قابل توجه</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=263" title="شماره تلفن های اداره موسسات کارآموزی آزاد">شماره تلفن های اداره موسسات کارآموزی آزاد</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=264" title="مراکز معین تابعه در استان">مراکز معین تابعه در استان</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=129" title="اداره سنجش و ارزیابی مهارت">اداره سنجش و ارزیابی مهارت</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=131" title="تقویم آزمونهای مهارتی">تقویم آزمونهای مهارتی</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#خرید و پیگیری کارت اعتباری" title="خرید و پیگیری کارت اعتباری">خرید و پیگیری کارت اعتباری</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari_search/pay_selectazmoon" title="خرید کارت اعتباری">خرید کارت اعتباری</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari/returncard" title="برگشت دادن کارت اعتباری">برگشت دادن کارت اعتباری</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#ثبت نام آزمون" title="ثبت نام آزمون">ثبت نام آزمون</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari/selectazmoon/0" title="از طریق  سایت">از طریق  سایت</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=265" title="دفاتر پیشخوان">دفاتر پیشخوان</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#دریافت کارت ورود به جلسه" title="دریافت کارت ورود به جلسه">دریافت کارت ورود به جلسه</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari/selectazmoonforcard" title="ادواری- تفاهمنامه(صنایع دستی وقالیبافی)-صنعت ساختمان">ادواری- تفاهمنامه(صنایع دستی وقالیبافی)-صنعت ساختمان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://azmoon.portaltvto.com/" title="هماهنگ کشوری">هماهنگ کشوری</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#نتایج آزمونها" title="نتایج آزمونها">نتایج آزمونها</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari/natayej" title="ادواری- تفاهمنامه(صنایع دستی وقالیبافی)-صنعت ساختمان">ادواری- تفاهمنامه(صنایع دستی وقالیبافی)-صنعت ساختمان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://azmoon.portaltvto.com/" title="هماهنگ کشوری">هماهنگ کشوری</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" href="#برنامه زمانی آزمونهای عملی" title="برنامه زمانی آزمونهای عملی">برنامه زمانی آزمونهای عملی</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=" title="ادواری">ادواری</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=" title="تفاهم نامه صنایع دستی و قالیبافی">تفاهم نامه صنایع دستی و قالیبافی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=" title="صنعت ساختمان">صنعت ساختمان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=" title="هماهنگ کشوری">هماهنگ کشوری</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://pay.portaltvto.com/pay/licence/" title="پرداخت هزینه صدور گواهینامه مهارت">پرداخت هزینه صدور گواهینامه مهارت</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://advari.irantvto.ir/index.php/advari/motadavel" title="پرسشهای متدوال">پرسشهای متدوال</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://idbse.ir/" title="آزمونگران عملی و طراحان سئوال">آزمونگران عملی و طراحان سئوال</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=9" title="اداره آموزش, پژوهش و برنامه ریزی">اداره آموزش, پژوهش و برنامه ریزی</a>
                                    <ul>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=17" title="پژوهش">پژوهش</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=44" title="کمیته پژوهش اداره کل">کمیته پژوهش اداره کل</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=45" title="مقاله های نگارشی">مقاله های نگارشی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=54" title="نوآوری، ابداع، اختراع">نوآوری، ابداع، اختراع</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=47" title="تشکل علمی مربیان">تشکل علمی مربیان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=48" title="همایشهای علمی-تخصصی">همایشهای علمی-تخصصی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=49" title="تالیف،ترجمه">تالیف،ترجمه</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=50" title="اولویتهای پژوهشی">اولویتهای پژوهشی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=51" title="فنی و حرفه ای در کشورهای دیگر">فنی و حرفه ای در کشورهای دیگر</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=52" title="بانک اطلاعات نخبگان">بانک اطلاعات نخبگان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=239" title="مطلب درسی- جزوۀ آموزشی">مطلب درسی- جزوۀ آموزشی</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=225" title="فرمهاي مورد نياز (ادارۀ آموزش)">فرمهاي مورد نياز (ادارۀ آموزش)</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=16" title="تجهیز کارگاههای آموزشی">تجهیز کارگاههای آموزشی</a>
                                            <ul>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=57" title="تجهیز بر اساس نوع کارگاه">تجهیز بر اساس نوع کارگاه</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=59" title="کارگاههای مراکز جدیدالحداث">کارگاههای مراکز جدیدالحداث</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=60" title="کارگاههای مراکز بازسازی شده">کارگاههای مراکز بازسازی شده</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=61" title="کارگاههای جدید در مراکزفعال">کارگاههای جدید در مراکزفعال</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=62" title="کارگاههای فعلی مراکز">کارگاههای فعلی مراکز</a></li>
                                                    </ul>
                                                </li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=58" title="تجهیز بر اساس حجم ریالی">تجهیز بر اساس حجم ریالی</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=63" title="جذب اعتبارات ایجاد کارگاه">جذب اعتبارات ایجاد کارگاه</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=64" title="جذب اعتبارات تبدیل کارگاه">جذب اعتبارات تبدیل کارگاه</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=65" title="جذب اعتبارات تکمیل کارگاه">جذب اعتبارات تکمیل کارگاه</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=66" title="جذب اعتبارات ارتقای کارگاه">جذب اعتبارات ارتقای کارگاه</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=15" title="استانداردهای آموزشی">استانداردهای آموزشی</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=39" title="شرح /مراحل ونحوه تدوین">شرح /مراحل ونحوه تدوین</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=40" title="ویژگی استانداردهای آموزشی فنی و حرفه ای">ویژگی استانداردهای آموزشی فنی و حرفه ای</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=41" title="اجرای کارگاههای استاندارد نویسی">اجرای کارگاههای استاندارد نویسی</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=42" title="آمار و نام استانداردهای تدوین شده در استان">آمار و نام استانداردهای تدوین شده در استان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=43" title="استانداردهای سازمان">استانداردهای سازمان</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=12" title="مراکز آموزش فنی و حرفه ای استان">مراکز آموزش فنی و حرفه ای استان</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=13" title="مشاغل خانگی">مشاغل خانگی</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=168" title="توسعه فضاهای آموزشی">توسعه فضاهای آموزشی</a></li>
                                        <li class="submenu-main">
                                            <a class="submenu-item" width="100%" target="_parent" href="/?PageID=10" title="انواع آموزشها">انواع آموزشها</a>
                                            <ul>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=25" title="آموزشهای تخصصی دانشجویان و فارغ التحصیلان">آموزشهای تخصصی دانشجویان و فارغ التحصیلان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=24" title="آموزشهای صنعت ساختمان">آموزشهای صنعت ساختمان</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=33" title="آموزش در ندامتگاهها و مراکز بازپروری">آموزش در ندامتگاهها و مراکز بازپروری</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=32" title="آموزش در پادگانها و مراکز نظامی">آموزش در پادگانها و مراکز نظامی</a></li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=18" title="آموزش در مراکز ثابت">آموزش در مراکز ثابت</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=23" title="دوره های مرکز">دوره های مرکز</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=26" title="تفاهم نامه ها">تفاهم نامه ها</a></li>
                                                    </ul>
                                                </li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=22" title="آموزش در صنایع و بنگاههای اقتصادی">آموزش در صنایع و بنگاههای اقتصادی</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=27" title="جوار کارگاهی، بین کارگاهی">جوار کارگاهی، بین کارگاهی</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=28" title="ضمن کار">ضمن کار</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=29" title="صنوف">صنوف</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=30" title="تفاهم نامه ها">تفاهم نامه ها</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=" title="افتخارآفريني و نخبگان">افتخارآفريني و نخبگان</a></li>
                                                    </ul>
                                                </li>
                                                <li class="submenu-main">
                                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=19" title="آموزشهای سیار">آموزشهای سیار</a>
                                                    <ul>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=31" title="آموزشهای سیار شهری">آموزشهای سیار شهری</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=34" title="آموزشهای روستایی و عشایر">آموزشهای روستایی و عشایر</a></li>
                                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=35" title="تفاهم نامه ها">تفاهم نامه ها</a></li>
                                                    </ul>
                                                </li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=20" title="آموزش مستمری بگیران بیمه بیکاری">آموزش مستمری بگیران بیمه بیکاری</a></li>
                                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=21" title="آموزش کارآفرینی بر مبنای الگوی KAB">آموزش کارآفرینی بر مبنای الگوی KAB</a></li>
                                            </ul>
                                        </li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=192" title="شرح گروه های هدف">شرح گروه های هدف</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=193" title="راهنمای دوره های آموزشی">راهنمای دوره های آموزشی</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=194" title="مشاوره و هدایت شغلی">مشاوره و هدایت شغلی</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=195" title="بهبود مدیریت فرآیند آموزشی در مراکز">بهبود مدیریت فرآیند آموزشی در مراکز</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=196" title="تنظیم شناسنامه های آموزشی">تنظیم شناسنامه های آموزشی</a></li>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=197" title="رهگیری اشتغال مهارت آموختگان">رهگیری اشتغال مهارت آموختگان</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=11" title="پرسشهای متداول">پرسشهای متداول</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/?PageID=159" title="معاونت اداری و پشتیبانی"><span class=""></span>معاونت اداری و پشتیبانی</a>
                            <ul>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=164" title="اداره امور مالی">اداره امور مالی</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=236" title="فیش حقوقی کارکنان">فیش حقوقی کارکنان</a></li>
                                    </ul>
                                </li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=160" title="چارت سازمانی">چارت سازمانی</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=161" title="آموزش کارکنان">آموزش کارکنان</a></li>
                                <li class="submenu-main">
                                    <a class="submenu-item" width="100%" target="_parent" href="/?PageID=162" title="امور عمومی و رفاهی">امور عمومی و رفاهی</a>
                                    <ul>
                                        <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=163" title="ورزش">ورزش</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a class="Menu_ItemH" target="_parent" href="/?PageID=177" title="تکریم ارباب رجوع"><span class=""></span>تکریم ارباب رجوع</a>
                            <ul>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://eatvto.ir/?pageid=300" title="بیانیه حریم خصوصی">بیانیه حریم خصوصی</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=303" title="راهبرد مشارکت عمومی">راهبرد مشارکت عمومی</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="http://eatvto.ir/?pageid=301" title="بیانیه سطح توافق خدمات">بیانیه سطح توافق خدمات</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=179" title="تلفنهای اداره کل">تلفنهای اداره کل</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=181" title="پستهای الکترونیکی اداره کل">پستهای الکترونیکی اداره کل</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=183" title="پایگاههای اینترنتی">پایگاههای اینترنتی</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=184" title="دبیرخانه پیشنهادات">دبیرخانه پیشنهادات</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=185" title="پرسش و پاسخ">پرسش و پاسخ</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=186" title="ملاقاتهای عمومی مدیرکل">ملاقاتهای عمومی مدیرکل</a></li>
                                <li class="submenu-main"><a class="submenu-item" target="_parent" href="/?PageID=178" title="تلفن گویا - 167">تلفن گویا - 167</a></li>
                            </ul>
                        </li>
                        <li><a class="Menu_ItemH" target="_parent" href="/?PageID=191" title="گالری تصاویر"><span class=""></span><span>گالری تصاویر</span></a></li>
                        <li><a class="Menu_ItemH" target="_parent" href="/?PageID=237" title="ارتباط با ما"><span class="icon0"></span><span>ارتباط با ما</span></a></li>
                        <li><a class="Menu_ItemH" target="_parent" href="http://forum.eatvto.ir" title="تالار گفتگو"><span class="icon0"></span><span>تالار گفتگو</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="Navigation_BG">
                <div class="Navigation_BG_Div">
                    شما اینجا هستید
                    <span id="ctl28_Header1_Navigation1_lblNavigation"><a class="NavigationLink_Top" href="/Page/0/صفحه-اصلی.html">صفحه اصلی</a></span>
                    <div id="vtheaderoghat" style="display:none;float:left;"></div>
                </div>
            </div>
        </div>

        <div class="Page_Body">
            @RenderBody()
        </div>

        <div style="width:1000px;height:188px;">
            <div class="Footer_BG">
                <div style="width:475px;float:right;height:158px;"></div>
                <div class="img">
                    <img src="/theme/1/Default/Images/Footer/shore-sal.png" class="img-logo">
                </div>
                <div class="Footer_Adress">
                </div>
                <div class="Footer_Text" style="color: #fff;margin:14px 0 0 0;float:right;line-height:2">
                    آدرس : جاده سنتو - اول جاده ماشین سازی (سه راه قراملک)<br />
                    کدپستی : 5194619888<br />
                    تلفن : 32898931 - 041  /
                    فاکس : 32898944 - 32898937<br />
                    وب سایت : www.eatvto.ir<br />
                    <div class="updated-date">
                        <h3>  آخرین بروزرسانی : </h3>     دوشنبه  بیست و چهارم  آبان  1400
                        ساعت  08:24
                    </div>
                </div>
                <div class="Footer_Border"></div>
            </div>
            <div style="width: 1000px; height: 30px; padding-top: 5px;">
                <div style="float: right;" class="Footer_Text">
                    کلیه حقوق این سایت متعلق به اداره کل آموزش فنی و حرفه ای استان آذربایجان شرقی می
                    باشد.
                </div>
                <div style="float: left;" class="Footer_Link">
                    Powered By : <a title="طراحی سایت و پورتال، هاست و سرور لینوکس و ویندوز - آی تی شمس href="http://itshams.ir" target="_blank">ITShams.ir</a>
                </div>
            </div>
        </div>
    </div>










    <script type="text/javascript">

        $(document).ready(function () {
            $(".textboxs").focus(function () { $(".textboxs").val(""); });
            $(".sm-blue li").hover(function () {
                $(this).find("a span.sub-arrow").addClass("sub-arrow_hover");
            }, function () { $(".sm-blue a span.sub-arrow").removeClass("sub-arrow_hover"); });


        });
        //SmartMenus jQuery init
        $(function () {
            $('#main-menu').smartmenus({
                subMenusSubOffsetX: 1,
                subMenusSubOffsetY: -8
            });
        });

    </script>


    <script src="/Js/jquery.jcarousel.js" type="text/javascript"></script>

    <script src="/Js/Grid.js" type="text/javascript"></script>
    <script src="/Js/amin.js" type="text/javascript"></script>

    <script src="/Js/fade.js" type="text/javascript"></script>

    <script type="text/javascript">
        jQuery(document).ready(function () {

            $('a[href="#"]').click(function (e) {
                e.preventDefault();
            });

            $('.search-box').keyup(function (e) {
                if (e.keyCode == 13) {
                    window.location.href = "/?MID=106&title=" + $(this).val();
                }
            });

            $('.search-button').click(function (e) {
                window.location.href = "/?MID=106&title=" + $(this).next().val();
            });
        });
    </script>

    <div id="topbar" class="topbar" style="visibility:hidden">
        <a onclick="closebar(); return false" href="javascript:;" style="float:right; padding:4px 2px;">
            <img style="float:left" src="/images/close.gif" alt="خروج" width="16px" height="16px" />
        </a>
        <div style="float:right; text-align:justify; direction:rtl; padding:2px">
            <span id="lblmsg"></span>
        </div>
    </div>


</body>
</html>